<html>
    <head>
        <style>
            .comment{
                margin-left: 30px;
            }
            form, div{
                border: 1px solid black;
                padding: 10px;
                margin: 10px;
            }
        </style>
    </head>
<body>
    <h1>The Dojo Message Board</h1>
    <hr>
    <form action="/postmessage" method="post">
    Name: <input type='text' id="Input" name='name'>
    <br>
    Message: <input type='text' id="Input" name='message'>
    <button>Post Message</button>
    </form>
            <% for(var i=0 ; i < allPosts.length; i++){ %>
            <div>
            <p><%= allPosts[i].text %></p>
            <p>- <%= allPosts[i].name %></p>
                <div class="comment">
                    <% for(var j=0; j < allPosts[i].comments.length; j++){ %>
                        <div>
                        <p><%= allPosts[i].comments[j].text %> - <%= allPosts[i].comments[j].name %></p>
                        </div>
                    <% } %>
                    <form action="/posts/<%= allPosts[i].id %>" method = "post">
                        Name: <input type='text' id="Input" name='name'>
                        <br>
                        Comment: <input type='text' id="Input" name='comment'>
                        <button>Post Comment</button>
                    </form>
                </div>
            </div>
            <% } %>

             <% if(typeof(errors) != 'undefined' ) { %>
                <% for (var x in errors) { %>
                    <h3><%= errors[x].message %></h3>
                <% } %>
            <% } %>

</body>
</html>

